@import "./Header.scss";
@import "./TrendingGiphy.scss";
@import "./Pagination.scss";
body {
  background-color: $primary-dark;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-white;
  font-weight: 900;
}
p,
li {
  color: $primary-gray;
  font-weight: 700;
  font-size: 1.2rem;
}
button,
input {
  font-size: 1.2rem;
}